# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Application config (nếu có chứa thông tin nhạy cảm)
application.properties